<container>

    <row class="deal-of-day">
        <columns>
            <h2>Deal of the day</h2>
            <img src="{{root}}/assets/img/ireland.png">
            <p>Ireland: 8 days with air, hotel and car rental. Use promo code CFDL110 to save. Price reflects NYC
                depature,
                other cities available</p>
            <span class="save-amount">Save $110 with code </span>
            <span class="tiny-info">Gate 1 Travel</span>
            <span class="price">$649+</span>
            <center>
                <a href="#" class="button">See Deal</a>
            </center>
        </columns>
    </row>

    <row class="content-area">
        <columns>
            <row class="offer first-offer">
                <columns>
                    <img src="{{root}}/assets/img/cancun.png">
                    <p>
                        Cancun: 4 nights with air and Melody Maker Cancun stay. Price reflects MIA departure, other
                        cities available
                    </p>
                    <span class="save-amount">Save up to 65% </span>
                    <span class="tiny-info">CheapCaribean.com</span>
                    <span class="price">$689+</span>
                    <center>
                        <a href="#" class="button">See Deal</a>
                    </center>
                </columns>
            </row>
        </columns>
    </row>

    <row class="content-area">
        <columns>
            <row class="offer last-offer">
                <columns>
                    <row>
                        <columns>
                            <center>
                                <img src="{{root}}/assets/img/airplane_dark.png" class="group-icons">
                            </center>
                        </columns>
                    </row>
                    <h4>
                        Still looking? There's more
                    </h4>
                    <p>
                        Search hundreds of deals to suit your budget on flights, packages, cruises and much more.
                    </p>

                    <center>
                        <a href="#" class="button">See All Deals</a>
                    </center>
                </columns>
            </row>
        </columns>
    </row>

</container>