<container>
    <row class="footer-top">
        <columns small="4" large="5">
            <row>
                <columns large="2" small="4" valign="middle">
                    <img src="https://joelmuhoho.com/emails/kayak_email/images/logo_circle.png">
                </columns>
                <columns large="10" small="8" class="info-section" valign="middle">
                    <span class="call-to-action">
                        Download the app
                    </span>
                    <span class="info show-for-large">
                        cheap flights, hotels & more
                    </span>
                </columns>
            </row>
        </columns>

        <columns small="8" large="7" class="store-logos">
            <row>
                <columns small="6" large="6" valign="middle" class="apple-logo">
                    <img src="https://joelmuhoho.com/emails/kayak_email/images/appstore.png" class="">
                </columns>
                <columns small="6" large="6" valign="middle" class="google-logo">
                    <img src="https://joelmuhoho.com/emails/kayak_email/images/playstore.png" class="">
                </columns>
            </row>
        </columns>
    </row>
</container>


<container>
    <row class="footer-socials">
        <columns small="8" large="8" valign="middle" class="logo-section">
            <img src="https://joelmuhoho.com/emails/kayak_email/images/logo_orange.png" class="logo-orange">
        </columns>
        <columns small="4" large="4" valign="middle" class="social-icons">
            <row>
                <comumns>
                    <img src="https://joelmuhoho.com/emails/kayak_email/images/twitter.png" class="social-icon">
                </comumns>
                <comumns>
                    <img src="https://joelmuhoho.com/emails/kayak_email/images/facebook.png" class="social-icon">
                </comumns>
                <comumns>
                    <img src="https://joelmuhoho.com/emails/kayak_email/images/instagram.png" class="social-icon">
                </comumns>
            </row>
        </columns>
    </row>


    <row class="footer-menu">
        <columns></columns>
        <columns style="width: 90%;">
            <row>
                <columns small="4" large="3">
                    <img src="https://joelmuhoho.com/emails/kayak_email/images/airplane.png" class="icons">
                    <a href="#" class="text-center">Flight</a>
                </columns>
                <columns class="show-for-large" style="width: 1%;">
                    <span class="menu-divider"><span>
                </columns>
                <columns small="4" large="3">
                    <img src="https://joelmuhoho.com/emails/kayak_email/images/bed.png" class="icons">
                    <a href="#" class="text-center">Hotels</a>
                </columns>
                <columns class="show-for-large" style="width: 1%;">
                    <span class="menu-divider"><span></span>
                </columns>
                <columns small="4" large="3">
                    <img src="https://joelmuhoho.com/emails/kayak_email/images/car.png" class="icons">
                    <a href="#" class="text-center">Cars</a>
                </columns>
                <columns class="show-for-large" style="width: 1%;">
                    <span class="menu-divider"><span></span>
                </columns>

                <columns class="show-for-large" small="4" large="3">
                    <img src="https://joelmuhoho.com/emails/kayak_email/images/umbrella.png" class="icons">
                    <a href="#" class="text-center">Packages</a>
                </columns>
            </row>
        </columns>
        <columns></columns>
    </row>
</container>

<container>
    <row class="footer-bottom">
        <columns small="12">
            <row class="lower-links">
                <columns class="lower-links-column">
                    <center>
                        <a href="#">Unsubscribe</a>
                        <a href="#">Email Preference</a>
                        <a href="#">Feedback</a>
                        <a href="#">Privacy Policy</a>
                    </center>
                </columns>
            </row>
            <row class="privacy">
                <columns>
                    <p>
                        Prices, savings, and availability may vary. Additional restrictions may apply. Savings are not
                        ensured. KAYAK does not sell tickets but provides a price comparison service. The deals in this
                        newsletter were current at the time this email was published and subject to change based on
                        date, time and availability, which may be extremely limited. KAYAK accepts no liability for
                        inaccuracies arising from this or any other cause, including, but not limited to, expiration of
                        deals and typographical error, we are not responsible for any loss, damages, or injury incurred
                        by the deals herein. Unless otherwise specified, hotel prices are per night, based on
                        double-occupancy rooms and do not include taxes and fees. Unless specified to be one-way (ow) or
                        otherwise, flight prices are for round-trip (rt) economy class travel and include taxes and
                        fees. If in doubt, always consult the agent or company supplying the tickets.
                        Unless otherwise specified, package prices include flight + hotel, taxes and fees, but not
                        baggage fees or other fees charged directly by the airline for the included flight.
                        Cruise and car rental prices do not include taxes and fees. Please check the provider's webpage
                        or contact the provider for additional details.
                    </p>
                </columns>
            </row>
            <row class="copyright">
                <columns class="copyright-column">
                    <p>
                        &#9400; 2019 Kayak Sofware Coperation
                    </p>
                </columns>
            </row>
            <row class="adress">
                <columns class="adress-column">
                    <p>
                        7 Market Street Stanford, CT 06902-5810 US
                    </p>
                </columns>
            </row>
        </columns>

    </row>
</container>