<container>
    <row class="footer-top">
        <columns small="4" large="5">
            <row>
                <columns large="2" small="4" valign="middle">
                    <img src="{{ root }}/assets/img/logo_circle.png">
                </columns>
                <columns large="10" small="8" class="info-section" valign="middle">
                    <span class="call-to-action">
                        Download the app
                    </span>
                    <span class="info show-for-large">
                        cheap flights, hotels & more
                    </span>
                </columns>
            </row>
        </columns>

        <columns small="8" large="7" class="store-logos">
            <row>
                <columns small="6" large="6" valign="middle" class="apple-logo">
                    <img src="{{ root }}/assets/img/appstore.png" class="">
                </columns>
                <columns small="6" large="6" valign="middle" class="google-logo">
                    <img src="{{ root }}/assets/img/playstore.png" class="">
                </columns>
            </row>
        </columns>
    </row>
</container>


<container>
    <row class="footer-socials">
        <columns small="8" large="8" valign="middle" class="logo-section">
            <img src="{{ root }}/assets/img/logo_orange.png" class="logo-orange">
        </columns>
        <columns small="4" large="4" valign="middle" class="social-icons">
            <row>
                <comumns>
                    <img src="{{ root }}/assets/img/twitter.png" class="social-icon">
                </comumns>
                <comumns>
                    <img src="{{ root }}/assets/img/facebook.png" class="social-icon">
                </comumns>
                <comumns>
                    <img src="{{ root }}/assets/img/instagram.png" class="social-icon">
                </comumns>
            </row>
        </columns>
    </row>


    <row class="footer-menu">
        <columns></columns>
        <columns style="width: 90%;">
            <row>
                <columns small="4" large="3">
                    <img src="{{ root }}/assets/img/airplane.png" class="icons">
                    <a href="#" class="text-center">Flight</a>
                </columns>
                <columns class="show-for-large" style="width: 1%;">
                    <span class="menu-divider"><span>
                </columns>
                <columns small="4" large="3">
                    <img src="{{ root }}/assets/img/bed.png" class="icons">
                    <a href="#" class="text-center">Hotels</a>
                </columns>
                <columns class="show-for-large" style="width: 1%;">
                    <span class="menu-divider"><span></span>
                </columns>
                <columns small="4" large="3">
                    <img src="{{ root }}/assets/img/car.png" class="icons">
                    <a href="#" class="text-center">Cars</a>
                </columns>
                <columns class="show-for-large" style="width: 1%;">
                    <span class="menu-divider"><span></span>
                </columns>

                <columns class="show-for-large" small="4" large="3">
                    <img src="{{ root }}/assets/img/umbrella.png" class="icons">
                    <a href="#" class="text-center">Packages</a>
                </columns>
            </row>
        </columns>
        <columns></columns>
    </row>
</container>