<container>
    <row class="header">
        <columns small="12" large="12" valign="middle">
            <center>
                <img src="https://joelmuhoho.com/projects/emails/bonfire_email/images/bonfire-logo.webp"
                    class="logo-white">
            </center>
        </columns>
    </row>
    <row class="sub-header">
        <columns></columns>
        <columns style="width: 90%;">
            <row>
                <columns small="4" large="3">
                    <img src="https://joelmuhoho.com/projects/emails/bonfire_email/images/airplane.webp" class="icons">
                    <a href="#" class="text-center">Flight</a>
                </columns>
                <columns class="show-for-large" style="width: 1%;">
                    <span class="menu-divider"><span>
                </columns>
                <columns small="4" large="3">
                    <img src="https://joelmuhoho.com/projects/emails/bonfire_email/images/bed.webp" class="icons">
                    <a href="#" class="text-center">Hotels</a>
                </columns>
                <columns class="show-for-large" style="width: 1%;">
                    <span class="menu-divider"><span></span>
                </columns>
                <columns small="4" large="3">
                    <img src="https://joelmuhoho.com/projects/emails/bonfire_email/images/car.webp" class="icons">
                    <a href="#" class="text-center">Cars</a>
                </columns>
                <columns class="show-for-large" style="width: 1%;">
                    <span class="menu-divider"><span></span>
                </columns>

                <columns class="show-for-large" small="4" large="3">
                    <img src="https://joelmuhoho.com/projects/emails/bonfire_email/images/umbrella.webp" class="icons">
                    <a href="#" class="text-center">Packages</a>
                </columns>
            </row>
        </columns>
        <columns></columns>
    </row>
</container>